* {
  font-family: helvetica;
  font-size: 12px;
  /*border: 2px red dashed;*/
}

body {
  background-color: #496370;
}

audio {
  float:left;
  clear:left;
  margin-left:10px;
  margin-bottom: 40px;
  width:45%;
}

table {
  background-color: #496370;
  border: 2px solid black;
  min-height:50px;
  margin:0 10px 10px 10px;
  border-radius:5px;
}

.playlists {
  float:right;
  width:45%;
  background-color: #496370;
  border: 2px solid black;
  border-radius:5px;
}

button {
  font-size: 8px;
}

.library{
  float:right;
  width:45%;
}

.songQueue {
  clear:left;
  float:left;
  width:45%;
  height:120px;
  background-color: #496370;
  border: 2px solid black;
  border-radius:5px;
}

.clear {
  float:none;
  clear:both;
}

#heading{
  font-size: 2.5em;
  margin:50px;
  text-align: center;
}

#main {
  width:700px;
  height: 200px;
  background: gray;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius:5px;
}
